.board-configurator {
  width: 100%;
  height: 100%;
  border: 3px solid #353535;
  background: #353535;
  position: relative;
  user-select: none;
  .tile {
    float: left;
    position: absolute;
    border: 3px solid #353535;
    padding: 5px;
  }
}
.size-config {
  padding-top: 10px;
  label {
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.edit-types {
  padding-top: 10px;
  height: 75px;
  button {
    border: none;
    border-bottom: 10px solid transparent;
    color: #FFF;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    float: left;
    text-align: center;
    width: 250px;
    &.active {
      border-bottom-color: rgb(18, 99, 18);
      line-height: 55px;
    }
  }
}
.inactive {
  background: #000;
}
.movable {
  background: rgb(50, 50, 202);
}
.target {
  background: rgb(187, 46, 46);
}