<div class="app-board">
  <div
    *ngFor="let tile of tileList; let i = index"
    class="tile"
    [style.width]="(100 / tileCols) + '%'"
    [style.height]="(100 / tileRows) + '%'"
    [style.top]="(100 * tile.row / tileRows) + '%'"
    [style.left]="(100 * tile.col / tileCols) + '%'"
    [style.background]="tile.color"
    [class.movable]="!tile.blank"
    (click)="handleTileClick(tile)"
  >
    row: {{ tile.row }}<br>
    col: {{ tile.col }}<br>
    index: {{ i }}<br>
    {{tile.color}}
  </div>
</div>